body {
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.text-dec h1 {
  color: #303030;
  font-weight: 600;
  font-size: 28px;
}

.col-md-8 {
  width: 66.66666667%;
  float: left;
  position: relative;
  min-height :1px;
  padding-right: 15px;
  padding-left:15px;
}

.text-dec h4 {
  color: #9a9a9a;
  font-size: 17px;
  margin-bottom: 25px;
}

.text-dec p {
  color: #515151;
  font-size: 15px;
}

.text-dec ul li {
   font-size: 15px;
   margin-bottom: 6px;
}

.text-dec h3 {
   font-weight: 600;
   margin-bottom: 25px;
}

.text-dec ul {
  margin-top:25px;
}

.text-dec {
  margin-top: 25px;
  margin-left: 38%;
  font-family: 'Raleway' !important;
}

@media (max-width: 768px) and (min-width: 320px) {
  .maine-deo {
    display: flex;
    flex-direction: column-reverse;	
  }

  {
    margin-left: 36px;
    margin-top: 18%;
  }

  .text-dec {
    margin-top: 25px;
    margin-left: 8%;
    font-family: 'Raleway' !important;
  }
}
