<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Annie</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.url }}/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ site.url }}">
    {% if site.webmaster_verifications %}
      {% if site.webmaster_verifications.google %}
        <meta name="google-site-verification" content="{{ site.webmaster_verifications.google }}">
      {% endif %}
      {% if site.webmaster_verifications.bing %}
        <meta name="msvalidate.01" content="{{ site.webmaster_verifications.bing }}">
      {% endif %}
      {% if site.webmaster_verifications.alexa %}
        <meta name="alexaVerifyID" content="{{ site.webmaster_verifications.alexa }}">
      {% endif %}
      {% if site.webmaster_verifications.yandex %}
        <meta name="yandex-verification" content="{{ site.webmaster_verifications.yandex }}">
      {% endif %}
      {% if site.webmaster_verifications.baidu %}
        <meta name="baidu-site-verification" content="{{ site.webmaster_verifications.baidu }}">
      {% endif %}
    {% endif %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:site_name" content="{{ site.name }}">
    {% if site.twitter %}
      <meta name="twitter:site" content="@{{ site.twitter }}">
    {% endif %}
    <meta property="twitter:title" content="{{ site.title }}">
    <meta name="twitter:creator" content="@NerdyJumbo">
  </head>
  <body>
    <div class="maine-deo">
      <div class="col-md-8 col-xs-12">
        <div class="text-dec">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
