<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ code }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://annieapp.co/css/stylesheet.css">
  </head>
  <body>
    <div class="maine-deo">
      <div class="col-md-8 col-xs-12">
        <div class="text-dec">
          <h1 style="text-align": right;">{{ code }}</h1>
          {% if desc %}
            <h3>{{ desc }}</h3>
          {% endif %}
        </div>
      </div>
    </div>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </body>
</html>
