<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Annie</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    </head>

    <body>

        <nav class="top-navbar">
            <img class="logo" src="https://via.placeholder.com/250x50">
            <a>Contact</a>
            <a href="https://docs.annieapp.co/">Docs</a>
            <a href="/">Home</a>
        </nav>

        <ul>
            <li><a href="">Dashboard</a></li>
            <li><a href="#apps">Apps</a></li>
            <li><a href="#api">API</a></li>
        </ul>

        <div class="main">

        </div>

    </body>
</html>
