<!DOCTYPE html>
<html>
  <head>
    <style>
      .b{
        padding: 40px;
        padding-bottom: 65px;
        margin: 20px;
        font-size: 18px;
        line-wrap: nobreak;
        max-width: 300px;
        float: left;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.19);
      }
    </style>
    <title>Statistics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://annieapp.co/css/stylesheet.css">
  </head>
  <body>
    <div class="maine-deo">
      <div class="col-md-8 col-xs-12">
        <div class="text-dec">
          <h1 style="text-align":right;">Statistics</h1>
          <div class="b">Showing statistics for <b>{{ key }}</b></div>
        </div>
      </div>
    </div>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </body>
</html>
