:root {
    --left-sidebar: 150px;
}

body{
    margin: 0
}

a {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.top-navbar {
    width: 100%;
    height: 80px;
    background-color: #687589;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin: 15px 20px
}

.top-navbar > a {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    height: 80px;
    line-height: 80px;
    color: white;
    text-decoration: none;
    float: right;
}

.top-navbar > a:hover {
    color: #dbdbdb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: var(--left-sidebar);
    background-color: #687589;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8795ad;
    color: white;
}

.main {
    font-family: 'Open Sans', sans-serif;
    margin-left: calc(var(--left-sidebar) + 20px);
}
